Repository beyond-sw-camp/be08-4th-3Dasoo: changes, and which Jenkins stages are due for each by the changed paths.
All: Npm install & Build Frontend, Build Backend, Docker Image Build Frontend, Docker Image Build Backend, Deployment Frontend, Deployment Backend

Path conditions:
  Npm install & Build Frontend: any of: devopsFront/**
  Build Backend: any of: devopsBackend/**
  Docker Image Build Frontend: any of: devopsFront/**
  Docker Image Build Backend: any of: devopsBackend/**
  Deployment Frontend: any of: devopsFront/**
  Deployment Backend: any of: devopsBackend/**

[front] test: build header
  devopsFront/src/components/common/HeaderIT.vue
Due: Npm install & Build Frontend, Docker Image Build Frontend, Deployment Frontend

[back] test
  devopsBackend/src/main/java/com/fourstit/pocari/controller/MainController.java
Due: Build Backend, Docker Image Build Backend, Deployment Backend

Update README.md
  README.md
Due: none

[front] test: webhook
  devopsFront/src/components/common/HeaderIT.vue
Due: Npm install & Build Frontend, Docker Image Build Frontend, Deployment Frontend

appvue 8080 > 30031수정
  devopsFront/src/App.vue
Due: Npm install & Build Frontend, Docker Image Build Frontend, Deployment Frontend

[front] test
  devopsFront/src/components/common/HeaderIT.vue
Due: Npm install & Build Frontend, Docker Image Build Frontend, Deployment Frontend
